@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100%;
}

.container__mod {
  height: calc(100% - 1.5rem);
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}