@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: calc(100% - 150px);
  margin-top: 56px;
}

.gradient {
  background: linear-gradient(to right, rgba(255, 255, 255), rgba(224, 224, 224));
}

.gradient-dark {
  background: linear-gradient(to right, rgba(40, 40, 40), rgba(30, 30, 30));
}

.placeholder-error::placeholder {
  color: #dc3545;
  opacity: 1;
}

.btn-reset {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 3;
}

.custom-theme-switch {
  background-color: #E9ECEF !important;
  border-color: #6C757D !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%236C757D'/%3e%3c/svg%3e") !important;
}

.custom-theme-switch:checked {
  background-color: #495057 !important;
  border-color: #adb5bd !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.custom-theme-switch:focus {
  box-shadow: 0 0 0 0.15rem rgba(108, 117, 125, 0.25);
}

.custom-theme-switch:checked:focus {
  box-shadow: 0 0 0 0.15rem rgba(173, 181, 189, 0.35);

}

.offcanvas-header .btn-close--mod {
  margin-left: unset;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0;
}

.item__image {
  height: unset;
}

.hero {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero--mod {
  min-height: 300px;
  height: calc(100vh / 2.5);
  background-attachment: unset;
}

.score {
  margin-top: -44px;
}

.biography {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  height: 94px;
}

.pagination__responsive {
  --bs-pagination-padding-x: 0.5rem;
  --bs-pagination-padding-y: 0.25rem;
  --bs-pagination-font-size: 0.875rem;
  --bs-pagination-border-radius: var(--bs-border-radius-sm);
}

.pagination__light {
  --bs-pagination-color: #6c757d;
  --bs-pagination-hover-color: #495057;
  --bs-pagination-focus-color: #495057;
  --bs-pagination-active-bg: #6c757d;
  --bs-pagination-active-border-color: #6c757d;
}

@media (min-width: 493px) {
  .item__image {
    height: 320px;
  }

  .pagination__responsive {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-border-radius: var(--bs-border-radius);
  }
}